<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.alienator88.PearcleanerSentinel</string>
	<key>ProgramArguments</key>
	<array>
		<string>__EXECUTABLE_PATH__</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>AssociatedBundleIdentifiers</key>
	<array>
		<string>com.alienator88.Pearcleaner</string>
	</array>
</dict>
</plist>
